html {
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
}
.bbtm-lightgray {
  border-bottom: 1px solid lightgray;
}
